html {
  background: #fcf8e8;
  margin: 0 auto;
  max-width: 650;
  padding: 0 1rem;
}

.center {
  -ms-transform: translate(-50%, -50%);
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

a,
a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #d4e2d4 50%);
}
